h1{
text-align:center;
margin-left: 500px;
margin-top: -310px;
color:rgb(70, 69, 69);
font-family:sans-serif;
  
  font-size: 50px;

}
@keyframes moveToLeft {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
}

h2{
    color:rgb(116, 116, 255);
    text-align:center;
margin-left: 500px;
margin-top: -120px;
font-family:sans-serif;
  
  font-size: 30px;  
}


.hc{
  color:rgb(33, 33, 33);
  text-align:center;
margin-left: 600px;
margin-top: 30px;
font-family:sans-serif;

font-size: 30px;  
text-decoration: none;
}


.hd{
  color:rgb(250, 179, 0);
  text-align:center;
margin-left: 0px;
margin-top: 10px;
font-family:sans-serif;
font-size: 30px;  
text-decoration: none;

}


ol{
color:red;
font-family:sans-serif;
}

.img1{
    height: 400px;
    width: 400px;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 100%;
    background: rgb(225, 225, 225);
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.img2{
  height: 250px;
    width: 250px;
    margin-left: 750px;
    margin-top: -100px;
   
}

body {
  transition: all 0.4s ease-in-out;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(255, 255, 255);
  
}

.p1{
  font-family: sans-serif;
  animation-delay: 50ms;
}

a{
  text-decoration: none;
}




.topnav {
  animation: moveToLeft 1s ease-in-out;
  animation-delay: 20ms;
  overflow: hidden;
  background-color: #333;
  opacity: 0.9;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #0095ff;
  color: white;
}

.topnav .icon {
  display: none;
}



.topnav a:hover{
  background-color: #555;
  color: white;
}






@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive  {float: none;}
  .topnav.responsive  {position: relative;}
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }

  
}








.section4{
  width:1000px;
  height:500px;
  margin:auto;
  
}

.section3{
  width:1000px;
  height:500px;
  margin:auto;
  
}
.container{
  transition: all 0.4s ease-in-out;
  width:1000px;
  height:500px;
  margin:auto;
  
}

.section1{
  animation: moveToLeft 1s ease-in-out;
  animation-delay: 20ms;
  width:100%;
  height:100%;
  margin:auto;
}
